mixin itemTitle(person, title)
  p
    i= person
    | &nbsp;
    b= title

// SoundCloud item.
mixin scItem(id, person, title)
  .sc-item
    +itemTitle(person, title)
    div
      | <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/#{id}&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>

// SoundCloud playlist.
mixin scPlaylist(id)
  .sc-playlist
    | <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/#{id}&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
