div
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-via="ne_sachirou" data-lang="ja" data-hashtags="FuniSaya">ツイート</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
div
  <div id="fb-root"></div>
  <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=357104947746366"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-like" data-href="http://funisaya-ac2013.herokuapp.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
div
  <div class="g-plusone" data-href="http://funisaya-ac2013.herokuapp.com"></div>
  <script type="text/javascript">window.___gcfg = {lang: 'ja'}; (function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/platform.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script>
