- var wd = work.dummy_name
- var wt = work.title

style.
  .kirie {
    background: rgba(255, 255, 255, 1);
    color: black;
    padding: 1em;
  }
article.kirie
  h1= wt
  p by #{wd}
  p
    img(src='/images/ansuz9_kirie_01.jpg' alt='#{wt} - #{wd}')
    img(src='/images/ansuz9_kirie_02.jpg' alt='#{wt} - #{wd}')
    img(src='/images/ansuz9_kirie_03.jpg' alt='#{wt} - #{wd}')
    img(src='/images/ansuz9_kirie_04.jpg' alt='#{wt} - #{wd}')
    img(src='/images/ansuz9_kirie_05.jpg' alt='#{wt} - #{wd}')
