include includes/mixins

script(src="https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/jquery.min.js")
script.
  var unityObjectUrl = 'http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js';
  if (document.location.protocol === 'https:') {
    unityObjectUrl = unityObjectUrl.replace('http://', 'https://ssl-');
  }
  document.write('<script src="' + unityObjectUrl + '"><\/script>');
script(src="/javascripts/ansuz2_member.js")
link(rel="stylesheet" href="/stylesheets/ansuz2_member.css")
p.header <span>Unity Web Player | </span> #{work.title}
#unityPlayer
  .missing
    a(href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!")
      img(alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width='193' height='63')
p.footer &laquo; created with <a href="http://unity3d.com/unity/" title="Go to unity3d.com">Unity</a> &raquo;
h2 (ヽ´゜ω゜)操作方法(ｌ ω ｌ〃)
p.
  (ヽ´゜ω゜)ﾉ左クリックで発砲。右クリックでスコープを覗くよ。<br/>
  (ｌ ω ｌ〃)スコープ画面でシフトキーを押すとブレを抑えられるよ。<br/>
  (ヽ´゜ω゜)ホイールを回すとズームも出来るんだ。<br/>
  (ｌ ω ｌ〃)Qキーでキルカメラのオンオフも出来ちゃう。<br/>
  (ヽ´゜ω゜)ハードモードは銃弾のホーミングがなくなって難しくなるよ</p>
