include includes/mixins

+itemTitle(work.dummy_name, work.title)
p
  audio(controls)
    | Your browser has no OggVorbis support.
    source(src="https://dl.dropboxusercontent.com/u/13307622/ansuz/ansuz3_telephoneNoService.ogg" type="audio/ogg")
    source(src="https://dl.dropboxusercontent.com/u/13307622/ansuz/ansuz3_telephoneNoService.mp3" type="audio/mp3")
p
  a(href="https://dl.dropboxusercontent.com/u/13307622/ansuz/ansuz3_telephoneNoService.ogg") Download
p
  a(href="http://www.zan-nen-blog.com/2014/02/funisaya-advent-calendar-2013.html") あの噂のFuniSaya Advent Calendar 2013に参加しました！え？知らないとか時代遅れですけど？？ - 残念どっとこむ
p
  a(href="http://www.zan-nen-blog.com/2014/02/funisaya.html") おや、FuniSayaさんの楽曲が完成したようですよ？ - 残念どっとこむ</a></p>
