extends layout

block content
  .page-ansuz
    nav.page-ansuz-menu
      a(href="member" class="#{who === 'member' ? 'active' : ''}") Member
      a(href="funisaya" class="#{who === 'funisaya' ? 'active' : ''}") FuniSaya
    .content
      .jumbotron
        h1= work.title
        if work.title
          img(src="/images/ansuz#{schedule.id}_#{who}.png" alt="#{work.title} - #{work.dummy_name}").logo
      div!= work.content
