article
  p by #{work.dummy_name}
  p
    strong Moryo no Hako
  p
    small (<a href="http://kommerz.hatenablog.com/entry/2014/05/11/115426">Moryo no Hako - [nMz]</a>)

  blockquote
    h1 『魍魎の匣／Moryo no Hako』
    p
      a(href="http://www.ntv.co.jp/mouryou/") http://www.ntv.co.jp/mouryou/
    p
      a(href="https://ja.wikipedia.org/wiki/%E9%AD%8D%E9%AD%8E%E3%81%AE%E5%8C%A3") http://ja.wikipedia.org/wiki/魍魎の匣

  p
    img(src="/images/ansuz10_mouryouNoHako_01.jpg" alt="#{work.title} - #{work.dummy_name}")

  h1 【箱を所有するところの欲】

  p 最初に、CLAMPにキャラクター原案を任せたことが英断であったと言える。
  p 琥珀色の光は射し、きらめく眼鏡の奥で優美なラインのまぶたが開けられる、実に印象的な #01 冒頭からしてまさに〈美麗〉という言葉が脳裏へ浮かんだ。
  p 目覚めた彼は汽車の中、向かいの席に座る男は不気味なほど穏やかな笑みを浮かべながら、喪服めいたスーツの膝へと縦横四十センチメートルほどの箱を抱えている。金色の装飾が施された小さな仏壇のようにも見えるそれは、正面に観音開きの扉を持ち、紫の房飾りをそっと解き離たれた奥には瑞々しい花々に囲まれた美しい少女の首が今おもむろに――。
  p 開始の1分14秒で、なるほど、どうやら箱というのには魍魎が宿るらしいなと思った。

  p
    img(src="/images/ansuz10_mouryouNoHako_02.jpg" alt="#{work.title} - #{work.dummy_name}")
  p
    img(src="/images/ansuz10_mouryouNoHako_03.jpg" alt="#{work.title} - #{work.dummy_name}")

  p OP明け、黒い背景に白抜きの毛筆書きでエピソードのタイトルが示される。そこへはらはらと薄紅色の桜の花びらが舞いおちてくる。
  blockquote
    p 「私は、柚木加菜子が好きでした。加菜子の、大きく黒い虹彩に囲まれた瞳、肌の粒子の細かさ、さらさらとなびくつややかな髪や、伸びやかに動く指先が好きでした」
  p モノローグで呟いた顔は月光に黄色く照らされ、とめどない花びらに囲まれるようにして、もう一人の少女が首を両手で絞めあげる。

  p
    img(src="/images/ansuz10_mouryouNoHako_04.jpg" alt="#{work.title} - #{work.dummy_name}")
  p
    img(src="/images/ansuz10_mouryouNoHako_05.jpg" alt="#{work.title} - #{work.dummy_name}")

  p 本作の時代設定は昭和四十年代だろうか、女学校に通う二人の関係はいわゆる〈エス〉と呼ばれる文化をもって端的に表現出来る。エスとは Sister の頭文字、他に二つとない親密な関係を望んだものだろう。
  blockquote
    p 「やっぱり君は、私なんだ。他の人では駄目なのさ。君は私の、そして私は君の生まれ変わりなんだ。私が死んで、君になる。君が死んで、私になるのさ。君は私の前世で、私は君の前世なのさ。私たちは死に変わり、生まれ変わって、永遠に今のままなのさ」
    p 「素敵……。じゃあ、他の人じゃ駄目なのね。加菜子にとって、私の代わりはいないのね」
  p そう言いあい、手首へテグスのような透明に輝く糸を巻き付けて「縁の紐」というまじないを試みる二人の姿は、蓄音機のある喫茶店で読まれる『近代文藝』という文芸誌でもって、更に叙情詩的に高まっていく。
  p しかし、二人の逢瀬は長くは続かない。
  blockquote
    p 「湖でも見に行かないか。うんと遠くの。最終列車に乗って、行けるところまで行くんだ。野宿したっていいさ。夜になったら、また最終に乗る。どこかの、遠くの目がけて。夜の湖に映る、月を見るんだ」
  p そう誓って佇んだ夜の駅ホーム、加菜子は列車に轢かれてしまうのだ。
  p その場にいた唯一の人物、つまり片割れたる彼女 ―― #01 で主人公を務めた少女、楠本頼子は顔を覆って泣きじゃくるばかり。
  p 駆け付けた刑事は尋ねる。「お嬢ちゃん。あれは……お嬢ちゃんのお友達かい?」
  p 頼子は不意の侮辱を受けたかのようにぴたりと泣きやみ、加菜子の担架で運ばれていく様を見やって答える。奇跡が永遠に奪われたような悲痛な表情を浮かべたままで。「ううん。あたしの、前世よ」

  p
    img(src="/images/ansuz10_mouryouNoHako_06.jpg" alt="#{work.title} - #{work.dummy_name}")

  p そんな #01 は、ごく耽美的な作品との出会いを確信させてくれたが、彼女らの物語の更なる展開があるかと言えば、それらはあくまで発端の部分たる一エピソードでしかなかった。物語を牽引していくのは、とある不可思議な連続殺人事件となる。
  p 本作の唯一にして大きな難所とはおそらく、全十二話中、実に二話と半分が、説明台詞とも言える語らいによって構成されたところだろう。
  p 事件を解決へと導くべく現れた、京極堂こと中禅寺秋彦は大いに語る。〈もうりょう〉とはなんなのか。一つはこうだ。
  blockquote
    p 「君たちは『荘子』を読むかい。〝<ruby><rb>罔両</rb><rp>(</rp><rt>もうりょう</rt><rp>)</rp></ruby>、<ruby><rb>景</rb><rp>(</rp><rt>かげ</rt><rp>)</rp></ruby>に問いて曰く、<ruby><rb>曩</rb><rp>(</rp><rt>さき</rt><rp>)</rp></ruby>には子行き、今は子<ruby><rb>止</rb><rp>(</rp><rt>とど</rt><rp>)</rp></ruby>まる。曩には子坐し、今は子起つ。何ぞ其れ特操無きや。景曰く。吾は待つ有りて然る者か。吾が待つ所は又た待つ有りて然る者か。吾は<ruby><rb>特</rb><rp>(</rp><rt>た</rt><rp>)</rp></ruby>だ<ruby><rb>蛇蚹蜩翼</rb><rp>(</rp><rt>だふちょうよく</rt><rp>)</rp></ruby>か。<ruby><rb>悪</rb><rp>(</rp><rt>いずく</rt><rp>)</rp></ruby>んぞ然る所以を識らん。悪んぞ然らざる所以を識らんや〟云々、とある。この場合、罔両とは影の周りにできる、薄い影のことだ」
  p この引用部を更に読みとくと、〝罔両が、影に問いかけて言った。お前は先程歩いていたが今は止まり、先程座っていたが今は立ち上がっている。何と節操の無いことか。影は言う。私は合わせる相手がいるためこうしているのだ。私が合わせる相手も又合わせる相手がいる。私はただ、蛇の鱗や、蝶の羽のように、不可分に依存して動いているのだ。いったい何のせいでこうなっているかについて、理由など知るはずがない。〟となるだろう。
  p (※更に付記すると、『讀諸子札記』による、原文中「吾待蛇蚹蜩翼邪」の〈待〉は〈特〉の誤りだという指摘及び、〈蛇蚹／蜩翼〉の意味あいの再解釈を鑑みてある。原典に忠実であることを目指すのならば、「吾が待つは蛇蚹、蜩翼なるか」及び「私が合わせる相手は、蛇や蝉の抜け殻のように、空虚なものだ」とも解釈できうる)
  p つまり、罔両とは影の差す境界たる薄ぼんやりとした部分に存在するもので、影とは何かしらに合わせて現れるものだということらしい。
  p 〈影は光あるところに現われる〉ではなく〈何かしらのあるところに現われて然る〉。光の対称としてではなく、〈物陰〉として影はそこへあるのだと。
  p そうして思い出されるのは「穢封じ御筥様」という新興宗教団体だ。
  blockquote
    p 「御筥様の教えは簡単です。家でも街でも、風通しの悪いところによろしくないものが涌く。心も同様で、囲いを作ると良くないものが涌く。それが魍魎だと」
  p 〈囲い〉によって生じる境界の影へはもちろん、罔両が宿ることだろう。
  p では何故囲いが要されるかと言えば、〈領分〉を明示するために他ならないはずだ。これは自身のものである、と。
  p 人による何かを所有しようとする欲の、人間に対してもいだかれうることを、あらゆる人間がその理由と共に知っている。あるいは好意、友情、あるいは愛情。その欲望の向かうところを手にするための強い手段も知られている。たとえばまさに〈エス〉の志向したような、一対一で、唯一無二の、互助的で、理由の問われない故に強固な、自身自身を愛するのと同じようなまったく自明で永遠の関係。
  p 永遠に約束されるのは人の欲望が存在しつづけることばかりであり、箱の中に納めてしまいたいと願うほどの、狂おしいほどの執着には必然、魍魎の影が潜んでいるに違いないのだ。
  p 自身を特別だと感じることが既に囲いを築くことであったのなら、誰かを自身のように愛したいと感じた気持ちもまた然りだろう。もしかすれば、自身を愛する自身、を愛してくれるまるで自身のようなもう一人の自身、に愛されている自身を愛する自身、が愛しているまるで自身のようなもう一人の自身……と、自己同一性を映す鏡像に仕立てることで、まるで合わせ鏡のような不穏さで、入れ子式に何重も内へと影を連ね続けるのかもしれない。
  p その帰結にすればやはり、この物語の発端となるのは加菜子と頼子でなければいけなかったはずだ。
  p 悔やむべきと感じられるのは、輪廻転生を絶えずお互いに繰り返すであろう彼女らの生きざまが、未だ死をもって依然と代わりばえして見えないという、この永遠の有りさまである。彼女らはもはや過去と、それのあった箱の中にしか留まっていない。
