style.
  .empties {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 1em;
  }
article.empties
  h1= work.title
  p by #{work.dummy_name}
    br
    a(href='http://solphy.blog.shinobi.jp/original/empties') original
  p ーー私が産まれた時、この世界には何も無かった。
    br
    | 絵も、音楽も、遊びも、道具も。いや、そもそも『世界』というものすら存在していなかった。
    br
    | 私が産まれた瞬間に出現したものは、私のみであった。
  p 【だが、私は全知全能の神などではない】
  p そこから世界が誕生し、あらゆる物が現れていく様を、私は見ている他なかった。
    br
    | 長い永い間、休む暇もなく見ていた。それ以外に私の出来る事は無かったからだ。
    br
    | 私にも欲は存在していた。次々と現れていく物を、私も産み出したいと思っていた。
    br
    | 足りぬ知識は時間で補えばいい。やがて私は、その存在すら認識していなかった手を動かすまでに至った。
  p 【私は全知全能の神などではない】
  p 時間の終わりは知る由もない。幾分かの流れを経たが、私の産み出すものは全て泡沫に消えた。
    br
    | 絵も、音楽も、遊びも、道具も。物として産み出され、存在を維持出来たものは一つとして無かった。
    br
    | 唯一つ産まれた物は、それらに対する絶望の念のみであった。
  p 【私は全知全能の神などではない】
  p それからも時間は過ぎた。無から始まった世界は、有で充満していた。
    br
    | もはやそこに無の入る隙間は存在しなかった。行き場を失った無は、この世界から飛び立った。
    br
    | 世界は、それに対し無関心であった。有に依存する事が、世界の選択だったからだ。
    br
    | 私は、無に興味があった。あっただけで、その動きを憂うだとか、喜するだとかいう考えは無かった。
    br
    | 私は、私を産んだ無の事を見ていたかっただけなのだ。
  p 【私は全知全能の神などではない】
  p 有で充満した世界もやがて、不足を憂い始めた。
    br
    | 無の消えた世界に現れたのは、限りであった。その限りを、世界は認識し始めたのだ。
    br
    | 既に存在しない無に対し、世界は焦りを感じ始めた。このまま限りに到達すれば、先には衰退しか残されない。
    br
    どちらの道も見てみたいという欲はあったので、そのまま行く先を見る事にした。
  p 【私は無でも有でもない】
  p 世界の出した結論は、『無を産み出す』事だった。それは、これまで全てを産み出してきた世界には容易であった。
    br
    | 無の出現により、限りに近づいていた世界に余裕が出来た。大幅な進歩を遂げたのだった。
    br
    | 全てを観てきた私にも、先の予測は不可能なほど世界は膨張していた。尤も、予測などしたことは無かったが。
  p 【私は無より前に産まれた】
  p 無すら産み出した世界だったが、気の付かない内に下方に傾き始めていた。
    br
    | 産み出された無が、その中で有を産み出し始めたのだ。それこそ、世界が嘗て辿った時間の様に。
    br
    | 限りの存在しない無は、絶えず有を産み出した。それが世界の限りに到達するのに、大した時間は要さなかった。
    br
    | 崩れる世界は、私には悲しくもあったし、逆に報復に成功した充足感もあった。
    br
    | そして漸く私は、私の存在が世界とは離れている事を理解したのだった。
  p 【私は何から産まれたか】
  p 見事なまでに崩れ去った世界には、その終わりを眺める様な私が居た。
    br
    | 以前認識した手で瓦礫に触れると、それらは存在を消した。
    br
    | 暫く世界を見物していると、奇妙な動物に出会った。
    br
    | 『それ』はーー何と形容すべきか、良い案が浮かばないがーー私を見ていた、気がした。
    br
    | 実に微妙な表情の『それ』は、本当に私を見ているのか分からない。しかし、『それ』はこの世界の物では無かった。
    br
    | 産み出された物ではない、元からそこに存在していた物。
    br
    | 『それ』は、私と同じであった。
  p 【私は全知全能の神などではない】
  p 【私は全てを産み出すもの、かもしれない】
  p
    br
    | 私が『それ』に触れると、『それ』は私になった。
