include includes/mixins

+itemTitle(work.dummy_name, work.title)
p
  a(href="https://dl.dropboxusercontent.com/u/26322610/ansuz/index.html")
    img(src="/images/ansuz5_member.png" alt="#{work.title} by #{work.dummy_name}")
