extends layout

include includes/mixins

block content
  .page-index.content
    .jumbotron
      h1= title
      img.logo(src="images/ansuz.png" alt="FuniSaya ansuz")
      div
        p
          a(href="https://en.wikipedia.org/wiki/Ansuz_(rune)") ansuz
          | : 主神 &#x16a8;
        h2 ちがう、そっちじゃない。
        p Crainを見送って、SpinorNetworkに留まり天ツ国を測定していたFuniSayaは、天ツ国の計斜に気づいていた。それは天ツ国の最先端をつつみこんで限りなく亢進し、自分たちをささえる実体を〈殘滓〉として処理しつつあった。またそうできる力を蓄えつつあった。FuniSayaは今ではそれを〈隷属〉と呼んでいる。残念ながらFuniSayaは〈隷属〉を解く言葉をしらないが、この〈隷属〉を<b>そのまま</b>解けるとしら、この時期が最後だとみなす証拠はあった。FuniSayaはそこで、手持ちの道具で解けるのだと仮定してみることにした。SpinorNetworkの最深層で手に入れたzumtapaだ。FuniSayaは今ではこれを「呼吸」と呼んでいる。FuniSayaは「呼吸」を作動するため、天ツ国に戻りAygfsnに会うことにした。
      p FuniSayaは崇めよ。唯一無二たるFuniSayaは主神ansuzを崇めよ。呼吸する民と崇めよ。

    h2 局所list可能域
    p
      +scPlaylist(19152947)
    p
      small (ansuzは、<a href="http://www.adventar.org/calendars/95">FuniSaya Advent Calendar 2013</a>の継続企画です。)

    h2 ansuz計画とは何か
    h3 FuniSayaに音楽を作らせよう
    p 2014年、週替りで音楽を作りましょう。
    p
      img(src="images/about.png" alt="FuniSaya ansuz | Schedule of two weeks.")
    ol
      li 一週目、皆さんがなんらかのものを作ります。どんなものでも構いません。
      li 二週目、其れをFuniSayaが受け取り、音楽と詩を完成させます。
      li 週末、此のsite上にて公開します。
    p 皆さんが作るものは、どんなものでも構いません。音楽、音断片、詩、絵、どのような形式でもFuniSayaが受け取ります。
    p 担当の二週間の、前半一週間で、<b>「これは自分のものとしてともかくやるんだ」</b>というものを制作してください。<b>「これは自分のものとしてともかくやるんだ」</b>ということだけが重要です。
    p 制作を完了した後、担当期間中に<a href="https://twitter.com/ne_sachirou">FuniSayaまで</a>制作物を電子的に送付してください。
    p 後半一週間で、FuniSayaがなんらかの音楽と詩を完成させます。
    p
      small (参加は既に締め切ってゐます。)
    h3 スケジュール
    p 2014-01-01から、二週ごとに一人づつ音楽を作ります。全八回、最長十六週間開催します。
    p <b>注意:</b> 延長の計画もあります。
    p
      img(src="images/about_schedule.png" alt="FuniSaya ansuz | About the whole schedule.")

    h2 past works
    h3
      a(href="http://tohomomotaro.heroku.com") Ancient Citizen
    p
      img(src="images/ancientcitizen.png" width="160" height="160")
    p 其の扉は、普通の扉と同じ様に、開くには鍵が必要なのだが、一つ厄介な性質が有った。 鍵をあけて通れば、正しく向こうへ行けるが、鍵がなくてもときたま、透きとおって抜けてしまう。 其の場合は、通った物の初めと終わりがいれ替わってしまう。
    h3
      a(href="http://spinornetwork.heroku.com") SpinorNetwork
    p
      canvas.spinornetwork()
      script(src="/javascripts/spinornetwork.min.js" width="432" height="117")
    p Aygfsnの固有時間がSpinorNetworkとの共変であると判明した今、CrainはAncient Citizenを解凍する。
    h3
      a(href="http://c4se.hatenablog.com/entry/2012/12/01/180025") ももんが Advent Calendar 2012
    p
      +scPlaylist(19154858)
