extends layout

block content
  h1 参加する。
  if currentUser
    p 参加済みです。
    p
      a(href='/schedule') scheduleを見る。
  else
    p Sign inすると、自動的に参加登録されます。<a href="/schedule">スケジュール</a>の先頭から順に埋まります。
    p 解除法は用意してをりません。登録したら、制作ください。
    p
      a(href='/auth/twitter')
        img(src='images/sign-in-with-twitter-gray.png')
  h2 プロトコル
  p 参加者は、担当二週間の前半、一週間で自らを精製してください。FuniSayaはそれを受け取り次第、後半一週間で惑星を組合せ論的に設計します。
  h2 Members
  ul.members
    if users.length
      each user in users
        li
          a(href='https://twitter.com/#{user.twitterUserName}', target='_blank', title='#{user.twitterProfile.name}')
            img(src='#{user.twitterProfile.profile_image_url}' alt='#{user.twitterProfile.name}')
    else
      | 未だ誰もゐない。
