doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title #{title} | FuniSaya ansuz
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@ne_sachirou")
    meta(name="twitter:title" content="#{title} | ansuz (FuniSaya Advent Calendar 2013)")
    meta(name="twitter:description" content="FuniSayaは崇めよ。唯一無二たるFuniSayaは主神ansuzを崇めよ。呼吸する民と崇めよ。ちがう、そっちじゃない。")
    meta(name="twitter:creator" content="@ne_sachirou")
    meta(name="twitter:image:src" content="http://funisaya-ac2013.heroku.com/images/ansuz_twitter_icon.png")
    meta(property="og:title" content="#{title} | ansuz (FuniSaya Advent Calendar 2013)")
    meta(property="og:image" content="http://funisaya-ac2013.heroku.com/images/ansuz_twitter_icon.png")
    link(rel="icon" type="image/png" href="/images/ansuz_icon.png")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="alternate nofollow" href="https://bitbucket.org/ne_sachirou/funisaya_ac2013/rss" type="application/rss+xml" title="RSS feed for FuniSaya ansuz")
    script(src="/javascripts/layout.js")
  body
    header.header-logo
      h1
        a(href="/" title="ansuz")
          img(src="/images/ansuz_icon.png" alt="ansuz")
    .main
      nav.side-nav
        .side-nav-toggle-btn
          span.glyphicon.glyphicon-align-right
        .side-nav-item
          include includes/share
        .side-nav-item(class="#{work ? '' : 'active'}")
          a(href="/" style="font-size: 10mm; line-height: 36mm;") ansuz計画
        each s, i in schedules
          .side-nav-item(class="#{schedule && schedule.id - 1 === i ? 'active' : ''}")
            a(href="/ansuz/#{s.id}/member")
              div= i + 1
              .week= s.week_str
              if users[i]
                div
                  img(src="#{users[i].twitterProfile.profile_image_url}" alt="#{users[i].twitterProfile.name}" height="48" width="48")
      .container
        article
          block content
    footer.copyright
      a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/") CC by-sa
      | &nbsp;2013-2014 FuniSaya
      br
      a(rel="author" href="mailto:utakata.c4se@gmail.com") utakata.c4se@gmail.com
      br
      | past works:&nbsp;
      a(href="http://tohomomotaro.heroku.com") Ancient Citizen
      | &nbsp;|&nbsp;
      a(href="http://spinornetwork.heroku.com") SpinorNetwork
