body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}

a:link, a:visited {  color: #bfbfbf; }
a:active, a:hover {  color: #bfbfbf; }

.header { font-size: small; }

.header span { font-weight: bold; }

.footer { font-size: x-small; }

.broken, .missing {
  margin: auto;
  position: relative;
  top: 50%;
  width: 193px;
}

.broken a, .missing a {
  height: 63px;
  position: relative;
  top: -31px;
}

.broken img, .missing img {
  border-width: 0px;
}

.broken { display: none; }

#unityPlayer {
  cursor: default;
  height: 600px;
  width: 960px;
}

h2 { font-size: inherit; }
