@-webkit-keyframes breathe {
  0%   { opacity: 1; }
  50%  { opacity: 0.7; }
  100% { opacity: 1; }
}
@keyframes breathe {
  0%   { opacity: 1; }
  50%  { opacity: 0.7; }
  100% { opacity: 1; }
}

.breathe(@sec: 4s) {
  -webkit-animation: breathe @sec infinite ease-in-out;
  animation: breathe @sec infinite ease-in-out;
}

h1 { .breathe(3s); }

h2 { .breathe(5s); }

h3 { .breathe(7s); }

p {
  &:nth-child(odd)  { .breathe(9s); }
  &:nth-child(even) { .breathe(7s); }
}

li {
  &:nth-child(odd)  { .breathe(11s); }
  &:nth-child(even) { .breathe(13s); }
}

img {
  &:nth-child(odd)  { .breathe(4s); }
  &:nth-child(even) { .breathe(5s); }
}

a { .breathe(17s); }

tr {
  &:nth-child(odd) {
    th, td {
      &:nth-child(odd)  { .breathe(11s); }
      &:nth-child(even) { .breathe(13s); }
    }
  }

  &:nth-child(even) {
    th, td {
      &:nth-child(odd)  { .breathe(13s); }
      &:nth-child(even) { .breathe(11s); }
    }
  }
}
