@import (less) "../bower_components/normalize-css/normalize.css";
@import (less) "../bower_components/bootstrap/less/bootstrap.less";
@import "breathe";
@size-mini: 16mm;
@icon-font-path: "/bower_components/bootstrap/fonts/";

body {
  background: black url('/images/ansuz_bg.png') 50% 0% fixed no-repeat;
  color: white;
  font-family: "游ゴシック Light", "游ゴシック", "YuGothic", sans-serif;
  font-size: 4.5mm;
}

a:not(.btn) {
  color: #00B7FF;
  &:hover, &:focus { opacity: 0.8; }
}

img, audio, video, iframe, object, canvas { max-width: 100%; }

h1 { text-align: center; }

blockquote {
  border: none;
  font-size: inherit;
}

.btn {
  border-radius: 4px;
  display: inline-block;
  height: 7mm;
  line-height: 7mm;
  padding: 2mm;
  text-decoration: none;
  &:hover { opacity: 0.8; }
}

.btn-default {
  background: #eee;
  color: black;
}

.btn-primary {
  background: rgb(45, 108, 162);
  color: white;
}

.jumbotron {
  background: inherit;
  font-size: larger;
  p { font-size: inherit; }
}

.menu-item {
  color: inherit;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.header-logo {
  height: @size-mini;
  border-bottom: solid 1px #333;

  h1 {
    margin: 0;
    padding: 0;

    img {
      height: @size-mini;
      width: @size-mini;
    }
  }
}

nav {
  .active {
    background: rgba(255, 255, 255, 0.6);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.8) 75%, rgba(252, 255, 255, 0.4));
    color: black !important;
  }
}

.main {
  position: relative;
  border-bottom: 1px solid #333;
  overflow: hidden;

  .side-nav {
    float: left;
    overflow: hidden;
    position: relative;
    width: 100% * (4 / 24);

    &.side-nav-hidden {
      width: 100% * (1 / 24);
    }

    .side-nav-toggle-btn {
      font-size: 160%;
      text-align: right;
      & > span { cursor: pointer; }
    }

    .side-nav-item {
      border-bottom: 1px solid #333;
      height: 36mm;
      position: relative;
      text-align: center;
      .week { font-size: 3mm; }

      a {
        .menu-item;
        height: 100%;
        width: 100%;
      }
    }
  }

  .container {
    border-left: 1px solid #333;
    float: left;
    width: 100% * (20 / 24) - 1%;
    .content { margin: @size-mini; }
    h2 { box-shadow: 0 -1px 0 #666, 0 -2px 0 #222; }
  }
}

.copyright {
  color: gray;
  font-size: smaller;
  padding-right: 1em;
  text-align: right;
  a { color: inherit; }
}

.page-index, .page-ansuz {
  .logo {
    float: left;
    margin: 0 @size-mini @size-mini 0;
    width: 100% * (6 / 20);

    & + div {
      float: right;
      width: 100% * (12 / 20);

      & + * {
        clear: both;
        content: ' ';
      }
    }
  }
}

.page-index { }

.page-ansuz {
  .page-ansuz-menu {
    a {
      .menu-item;
      border: 1px solid #333;
      height: @size-mini;
      line-height: @size-mini;
      width: 49%;
    }
  }
}

@media screen and (max-width: 960px) { }

@media screen and (max-width: 758px) {
  h1 { font-size: 1.6em; }

  .main {
    .side-nav {
      float: none;
      width: 100%;
      .side-nav-item { }
    }

    .container {
      float: none;
      width: 100%;
      .content { }
    }
  }

  .page-index {
    .logo {
      float: none;
      width: 100%;

      & + div {
        float: none;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 524px) { }
// vim:set ft=scss:
